.u-section-1 {
  background-image: url("images/banner.png");
  background-position: 50% 100%;
}

.u-section-1 .u-sheet-1 {
  min-height: 698px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 6px;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 565px 0 0 396px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  font-weight: 100;
  margin: 20px 0 60px 285px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 196px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 85px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 401px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 76.63% 46.01%;
    background-size: auto 120%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 607px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 69.34% 48.83%;
    background-size: auto 110%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 603px;
  }
}.u-section-2 {
  min-height: 710px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 0 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 710px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  min-height: 100%;
  width: 100%;
  background-image: url("images/gigite.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 717px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 80px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 6px;
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 0 241px 0 0;
}

.u-section-2 .u-image-2 {
  width: 245px;
  height: 245px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 500px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 585px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 603px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 448px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 672px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 423px;
  }
}.u-section-3 {
  min-height: 710px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 717px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 6px;
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 0;
}

.u-section-3 .u-image-1 {
  width: 245px;
  height: 245px;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-2 {
  line-height: 2;
  margin: 30px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 717px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  min-height: 100%;
  width: 100%;
  background-image: url("images/Motto.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 584px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 619px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 591px;
  }

  .u-section-3 .u-image-2 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 446px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 453px;
  }

  .u-section-3 .u-image-2 {
    width: 500px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 773px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 680px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    width: 500px;
    margin-top: 33px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 521px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 428px;
  }

  .u-section-3 .u-image-2 {
    width: 320px;
  }
}.u-section-4 {
  min-height: 710px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0 0 0 auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 710px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  min-height: 450px;
  width: 381px;
  background-image: url("images/pexels-photo-4435346.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 710px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 80px;
}

.u-section-4 .u-text-1 {
  letter-spacing: 6px;
  text-decoration: underline !important;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-4 .u-image-2 {
  width: 245px;
  height: 245px;
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-2 {
  line-height: 2;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 500px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 585px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 585px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    width: 300px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-5 {
  min-height: 836px;
}

.u-section-5 .u-image-1 {
  height: 536px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 233px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-2 {
  font-size: 3rem;
  text-transform: uppercase;
  text-decoration: none solid rgb(17, 17, 17);
  margin: 20px 56px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 233px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  margin-top: 0;
  line-height: 2;
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 692px;
  }

  .u-section-5 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 192px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 192px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
  }
}.u-section-6 {
  min-height: 710px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 0 0 0 auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 710px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  min-height: 450px;
  width: 381px;
  background-image: url("images/pexels-photo-4635230.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 710px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 80px;
}

.u-section-6 .u-text-1 {
  letter-spacing: 6px;
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 0 241px 0 0;
}

.u-section-6 .u-text-2 {
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-6 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 204px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 {
    min-height: 500px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 585px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 585px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 79px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 448px;
  }

  .u-section-6 .u-image-1 {
    width: 300px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 672px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 423px;
  }
}.u-section-7 {
  min-height: 683px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-7 .u-image-1 {
  min-height: 683px;
  background-image: url("images/pexels-photo-3395798.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 683px;
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-7 .u-text-1 {
  letter-spacing: 2px;
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 170px 0 0;
}

.u-section-7 .u-text-2 {
  letter-spacing: 0px;
  font-size: 1.125rem;
  line-height: 1.4;
  font-weight: 400;
  text-decoration: none solid rgb(17, 17, 17);
  margin: 32px 0 0;
}

.u-section-7 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 55px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 {
    min-height: 563px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    min-height: 563px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 563px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 {
    min-height: 431px;
  }

  .u-section-7 .u-image-1 {
    min-height: 431px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .u-section-7 {
    min-height: 1008px;
  }

  .u-section-7 .u-image-1 {
    min-height: 647px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 369px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 {
    min-height: 697px;
  }

  .u-section-7 .u-image-1 {
    min-height: 275px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 422px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/maglietta1.png");
}
 
.u-section-8 .u-sheet-1 .   {
  min-height: 759px;
}

.u-section-8 .u-layout-wrap-1 .   {
  width: 575px;
  margin: 188px auto 188px 0;
}

.u-section-8 .u-layout-cell-1 .   {
  min-height: 258px;
}

.u-section-8 .u-container-layout-1 .   {
  padding: 30px 30px 0;
}

.u-section-8 .u-text-1 .   {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  text-transform: uppercase;
}

.u-section-8 .u-layout-cell-2 .   {
  min-height: 125px;
}

.u-section-8 .u-container-layout-2 .   {
  padding: 30px;
}

.u-section-8 .u-btn-1 .   {
  background-image: none;
  border-style: solid;
  margin: 0 auto 0 0;
}

.u-section-8 .u-layout-cell-3 .   {
  min-height: 125px;
}

.u-section-8 .u-container-layout-3 .   {
  padding: 30px 30px 30px 0;
}

.u-section-8 .u-btn-2 .   {
  border-style: solid;
  background-image: none;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 .   {
    min-height: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 .   {
    min-height: 641px;
  }

  .u-section-8 .u-layout-wrap-1 .   {
    width: 491px;
    margin-top: 143px;
    margin-bottom: 143px;
  }

  .u-section-8 .u-layout-cell-1 .   {
    min-height: 252px;
  }

  .u-section-8 .u-layout-cell-2 .   {
    min-height: 104px;
  }

  .u-section-8 .u-layout-cell-3 .   {
    min-height: 104px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 .   {
    min-height: 460px;
  }

  .u-section-8 .u-layout-wrap-1 .   {
    width: 363px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -50px;
  }

  .u-section-8 .u-container-layout-1 .   {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 .   {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .u-section-8 .u-btn-1 .   {
    padding: 10px 36px 10px 35px;
  }

  .u-section-8 .u-container-layout-3 .   {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-btn-2 .   {
    padding: 10px 57px 10px 56px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .   {
    background-position: 69.55% 50%;
  }

  .u-section-8 .u-sheet-1 .   {
    min-height: 449px;
  }

  .u-section-8 .u-layout-wrap-1 .   {
    width: 291px;
  }

  .u-section-8 .u-layout-cell-1 .   {
    min-height: 249px;
  }

  .u-section-8 .u-text-1 .   {
    font-size: 2.25rem;
  }

  .u-section-8 .u-layout-cell-2 .   {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-3 .   {
    min-height: 100px;
  }
}